img {
    height:200px;
    width:200px;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: darkcyan;
    font-weight: bolder;
}
h2 {
    color:aliceblue;
    text-align: center;
    background-color: #A86523;
}
#my {
    color: antiquewhite;
    background-color: #A86523;
}
form{
    background-color: darkgoldenrod;
    
}
button{
    background-color: #e0d1e0;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}
body{
    text-align: justify;
}

